
body {
    text-align: center;
    display: flex;
    flex-direction: column;


    .board {
        position: relative;
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 90%;
        min-height: 800px;
        background: url('https://cdn.pixabay.com/photo/2018/12/25/11/10/deer-3894103_960_720.png');
        border-radius: 5px;
        margin-bottom: 20px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            background: rgba( #ffffff, $alpha: 0.8);
            min-height: 800px;
            position: absolute;

        }
        .create-column {
            max-width: 200px;
            margin: 5px 0;
            z-index: 1;
            align-self: center;
        }
        .column-container {
            display: flex;
            flex-direction: row;
            justify-content: center;            
            z-index: 1;
            flex-wrap: wrap;
        }        
    }
    .column {
        margin: 10px 5px;
        border: 2px solid white;
        background: #9e9e9e;
        padding: 5px;
        border-radius: 10px;
        
        .column-head {
            display: flex;
            flex-direction: row;
            border: 2px solid white;
            background: #9e9e9e;
            color: white;
            padding: 5px;
            border-radius: 5px;
            min-width: 250px;
            justify-content: space-between;  
            align-items: center;
            margin-bottom: 10px;
            
            .btn-danger {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                padding: 0;
            }
        }        
        .column-card-list {
            list-style-type: none;
            padding-left: 0;            
            margin-bottom: 10px;
            min-height: 70px;

            li .card{
                min-height: 70px;
            }
        }  
        .btn-warning {
            max-height: 50px;
            max-width: 70px;
            font-size: 10px;
            padding: 5px;
            font-weight: 700;
        }      
    }
    .card {
        position: relative;
        margin-top: 5px;

        .card-description {
            text-align: left;
            padding: 5px;
            margin-bottom: 0;
        }
        .del {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 25px;
            height: 25px;
            border: none;
            background-color: white;            
            right: 3px;
            bottom: 3px;  
            padding: 0;       

            &:hover {
                color: #666;
                background-color: #f2f2f2;
            }
        }
    }
}
